.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    font-family: 'Inter';
    background-color: #21222A;
}

.nav-main-title {
    color: #00D8FF
}

.nav-second-title {
    color: white;
}

.logo-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-items > li {
    padding: 10px;
}

.logo {
    width: 35px;
    height: 29px;
    margin-right: 5px;
}